body {
  background: url('images/pattern.png') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}


body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: 'Josefin Sans', sans-serif;
}

#titleContainer {
  text-align: center;
  margin-top: 25%;
  margin-bottom: 30%;
}


#titleName {
  font-size: 80px;
  margin: 0.8%;
}


#titleRole {

  font-size: 40px;
  margin: 1.5%;
  padding: 10px;
}

@media only screen and (max-width: 750px) {
	#titleName {
		font-size: 40px;
	}
	#titleRole {
		font-size: 20px;
	}
}


/* Arrow image indicating to scroll down */
#scrollDown {
  opacity: 0.5;
  margin-top: 5%;
  max-width: 4%;
  min-width: 4%;
}

#scrollDown:hover {
  opacity: 1;
}
